<link rel="stylesheet" href="/header.css">

<header>
    <nav>
        <div class="logoHeader">
            <img src="/image/logo.png" class="logoHeaderImg">
            <p class="logoHeaderText">WH[ Y ]LE</p>
        </div>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/friend">Friends</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
</header>