<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="---AA-Compatible" content="IE=edge">
    <meta name= "viewport" content= "width-device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>

    <img src="/image/logo.png" class="logInFormLogo">


    <div class="logInForm">

        <h1>Log In</h1>

        <a href="/register">
            <button class="registerButton">Register</button>
        </a>

        <form action="/getPerson" method="POST">
            <label>Email: </label>
            <p>
                <input type="text" name="email" placeholder="Email">
            </p>
    
            <label>Password: </label>
            <p>
                <input type="password" name="password" placeholder="Password">
            </p>
            <button type="submit" class="logInButton">LogIn</button>
        </form>

    </div>

</body>
</html>