<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="---AA-Compatible" content="IE=edge">
    <meta name= "viewport" content= "width-device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>


    <div class="homeContent">
        <h1 class="subSectionTittle">Post's</h1>

        <div class="postBlock">
            <div class="userNameBlockPost">
                <img src="/image/user.png" class="logoFriendImg">
                <p class="friendUsername">Username</p>
            </div>

            <p>
                Texto de entry del usuario de arriba.
            </p>
            
        </div>

        <div class="postBlock">
            <div class="userNameBlockPost">
                <img src="/image/user.png" class="logoFriendImg">
                <p class="friendUsername">Username</p>
                <p class="recommendedUser">[Recommended User]</p>
            </div>

            <p>
                Texto de entry del usuario de arriba.
            </p>
            
        </div>

        <div class="postBlock">
            <div class="userNameBlockPost">
                <img src="/image/user.png" class="logoFriendImg">
                <p class="friendUsername">Username</p>
            </div>

            <p>
                Texto de entry del usuario de arriba.
            </p>
            
        </div>
    
    </div>

    <div class="contentFriend">
        <h1 class="subSectionTittle">Friend's</h1>
        
        <div class="friendBox">
            <img src="/image/user.png" class="logoFriendImg">
            <p class="friendUsername">Username</p>
        </div>

        <h1 class="subSectionTittle">You might know</h1>
        
        <div class="friendBox">
            <img src="/image/user.png" class="logoFriendImg">
            <p class="friendUsername">Username</p>
        </div>

    </div>



</body>
</html>