<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="---AA-Compatible" content="IE=edge">
    <meta name= "viewport" content= "width-device-width, initial-scale=1.0">

    <title>Add Wave</title>
    <link rel="stylesheet" href="/wave.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    
    <div class="content">
        <h1>Add Wave</h1>
        <a href="/home">
            <button class="logOutButton">Cancel</button>
        </a>
    </div>

    <form action="/addPostPerson" method="POST">
        <textarea name="bodyPost" required></textarea>
    
        <button type="submit" class="updateInformationButton">Add Wave</button>
    </form>    


</body>
</html>